-
    let Caracteristicas = [
        {
            title:"¿Que es?",
            img:"Img/ArronaGrid.svg",
            text:"ArronaGrid es una libreria sass(con version css) para la maquetacion de sitios web adaptables para dispositivos moviles"
        },
        {
            title:"Solo Layout",
            img:"Img/Layout.svg",
            text:"No añade botones, tipografias, colores ni ningun otro estilo"
        },
        {
            title:"Solo compilas lo que necesitas",
            img:"Img/Compacto.svg",
            text:"Con su version sass tu puedes compilar solo lo que necesita tu proyecto"
        },
        {
            title:"Usa lo ultimo del estandar css",
            img:"Img/CSS.svg",
            text:"ArronaGrid usa las dos ultimas caracteristicas mas poderosas de css(Flexbox y Grid)"
        },
        {
            title:"Es Open Source",
            img:"Img/Licence.svg",
            text:"Cuenta con licencia GPL Version 3 asi que es totalmente gratuito usalo para lo que necesites en tu proyecto"
        }
    ]
