-
    let Doc = [
        {
            title:'Configuracion',
            url:'Views/Configuracion.html',
            child:[
                {
                    title:'Version CSS',
                    url:'Views/Configuracion.html#CSS'
                },
                {
                    title:'Version Sass',
                    url:'Views/Configuracion.html#Sass'
                }
            ]
        },
        {
            title:'Personalizacion de ArronaGrid',
            url:'Views/Personalizacion.html',
            child:[]
        },
        {
            title:'Base',
            url:'Views/Base.html',
            child:[]
        },
        {
            title:'Breackpoints',
            url:'Views/Breackpoints.html',
            child:[
                {
                    title:'Mobile First',
                    url:'Views/Breackpoints.html#MF'
                },
                {
                    title:'Media Querys',
                    url:'Views/Breackpoints.html#MQ'
                }
            ]
        },
        {
            title:'Button',
            url:'Views/Button.html',
            child:[]
        },
        {
            title:'Flexbox',
            url:'Views/Flexbox.html',
            child:[
                {
                    title:'Direccion',
                    url:'Views/Flexbox.html#Direccion'
                },
                {
                    title:'Wrap',
                    url:'Views/Flexbox.html#Wrap'
                },
                {
                    title:'Aling',
                    url:'Views/Flexbox.html#Aling'
                }
            ]
        },
        {
            title:'Grid',
            url:'Views/Grid.html',
            child:[
                {
                    title:'Grid',
                    url:'Views/Grid.html#Grid'
                },
                {
                    title:'Gap',
                    url:'Views/Grid.html#Gap'
                }
            ]
        }
    ]
