header.header
    input#btnMenu.header-btnMenu(type="checkbox", name="btnMenu")
    label.header-btnMenu-label(for="btnMenu")
        img(src="Img/Menu.svg", alt="").header-btnMenu-label-icon.header-btnMenu-label-icon-menu
        img(src="Img/Cross.svg" alt="").header-btnMenu-label-icon.header-btnMenu-label-icon-cross
    a.header-logo(href="Index.html")
        img(src="Img/ArronaGrid.svg", alt="")
        h1 ArronaGrid
    include Menu/Menu
