-let title = "ArronaGrid - Button"
-let type = "website"
-let descripcion = "Libreria sass para la maquetacion de sitios web"
-let url = "/Core.html"
-let imagen = "/Img/ArronaGrid.svg"
-let site_name = "ArronaGrid"
-let locale = "es_MX"
-let card = "summary_large_image"
-let twitter = ""

include ../Components/Metadatos
body
    include ../Components/Header
    main.main-config
        mixin Botones
            div.btn-content
                a.btn.btn-nav(href="Views/Breckpoints.html")
                    img.btn-nav-arrow(src="Img/Arrow_Left.svg", alt="")
                    p.btn-nav-ocultar Anterior
                a.btn.btn-nav(href="Views/Documentacion.html")
                    img.btn-nav-home(src="Img/Home.svg", alt="")
                    p.btn-nav-ocultar Volver al menu
                a.btn.btn-nav(href="Views/Flexbox.html")
                    img.btn-nav-arrow(src="Img/Arrow_Right.svg", alt="")
                    p.btn-nav-ocultar Siguiente
        +Botones()
        section
            header
                h2.main-config-title Botones
        article
            p Agrega el mixin ag-Button a tu clase css o puedes agregar la clase ag-Button-css con el mismo nobre a un elemento
            section
                header
                    h3.main-config-title Version sass
                include:markdown-it ../../MD/Button/Button-sass.md
            section
                header
                    h3.main-config-title Version css
                include:markdown-it ../../MD/Button/Button-css.md
            section
                header
                    h3.main-config-title Ejemplo
                p.ag-Button.color Soy un boton

        section
            header
                h2.main-config-title Botones Redondeados
        article
            p Agrega el mixin ag-Button-Radius a tu clase css o puedes agregar la clase ag-Button-css-Radius con el mismo nobre a un elemento
            section
                header
                    h3.main-config-title Version sass
                include:markdown-it ../../MD/Button/Radius-sass.md
            section
                header
                    h3.main-config-title Version css
                include:markdown-it ../../MD/Button/Radius-css.md
            section
                header
                    h3.main-config-title Ejemplo
                p.ag-Button.ag-Button-Radius.color Soy un boton
        +Botones()
    include ../Components/Footer
